.Footer {
  width: 100%;
}

.Footer-title{
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Footer-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.Footer-image{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer-image img{
  width: 40%;
  min-width: 250px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.Footer-social{
  width: 40%;
  min-width: 250px;
  margin-bottom: 12px;
}

@media (max-width:750px) {
  .Footer-container{
    grid-template-columns: 1fr;
    justify-items: center;
  }
}